* {
  box-sizing: border-box;
}
html {
  font-size: min(calc(1em + 1vw), 4em);
}
body {
  min-height: 100vh;
  font-family: sans-serif;
}
body > * {
  min-height: 1em;
}
h1 {
  margin: 0;
}
header {
  background: #009FDF;
}
nav {
  background: #D40F7D;
}
main {
  background: #FAE100;
}
footer {
  background: #2C2A29;
  color: white;
}
a, a:visited {
  color: inherit;
}